  body {
    background-color: #eaf6f6;
    font-family: 'Roboto Slab', serif;
    width: 90%;
    color: #19282a;
    line-height: normal;
  }


  .hand-written {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: #66bfbf;
  }

  .anna-nim {
    font-size: 110%;
    text-decoration-line: underline;
  }

  .my-pic1 {
    height: 12.5rem;
    width: 12.5rem;
    margin-left: 15%;
    position: absolute;
    right: 70%;
    top: 23%
  }

  .my-pic2 {
    height: 12.5rem;
    width: 12.5rem;
    margin-left: 15%;
    position: absolute;
    right: 70%;
    top: 23%
  }

  .icon {
    height: 5rem;
    width: 5rem;
    margin: 0;
  }

  .giph {
    height: 220px;
    width: 170px;
  }

  .contacts {
    height: 10rem;
    width: 10rem;
    margin: 1.1rem;
    background-image: url("https://media3.giphy.com/media/fxa8UyRChmyT2wi5KA/giphy.webp?cid=ecf05e47335dc0af9268fd098e67974ca43746d93a5cd853&rid=giphy.webp");
    position: fixed;
    left: 83%;
    text-align: center;
  }

  .phone {
    height: 7rem;
    width: 7rem;
  }

  .badge {
    height: 2.5rem;
    width: 2.5rem;
  }

  .circular {
    border-radius: 100%;
  }

  .center {
    margin: auto;
    width: 50%;
  }

  .top-cloud {
    position: relative;
    left: 0;
  }

  .bottom-cloud1 {
    text-align: center;
    position: relative;
    right: 20px;
    top: 20px;
  }

  .bottom-cloud1 {
    text-align: center;
  }

  .mountain {
    display: inline;
  }

  .web-design-pic {
    height: 120px;
    width: 120px;
    position: absolute;
    right: 68%;
    top: 30%;
  }

  hr {
    border-style: none;
    border-top: dotted;
    border-color: #72b5b7;
    border-width: 5px;
    width: 30%;
  }

  h1 {
    color: #3b6978;
    text-align: center;
    font-size: 200%;
  }

  h2 {
    color: #3b6978;
    font-size: 2rem;
  }

  h3 {
    color: #3b6978;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1.5rem;
  }

  h4 {
    color: #3b6978;
  }

  h5 {
    color: #40e0d0;
  }

  h6 {
    color: #40e0d0;
  }

  table {
    width: 83%;
    color: #40514e;
    line-height: 1.5rem;
    padding: 1.5rem;
  }

  a {
    color: #11999E;
    text-decoration: none;
  }

a:hover{
  color:#40e0d0;
}

.greeting {
  padding: 1.25rem;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
}

  .about {
    text-align: center;
    background-color: white;
    border-radius: 15px 50px 30px;
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
    }

  .education {
    background-color: white;
    border-radius: 15px 50px 30px;
      width: 90%;
    margin: auto;
  }
.work{
    width: 95%;
    padding-top: 2rem;
}
.period{
  width: 13rem;
  line-height: 3.5rem;
  color: grey;
  font-size: 2rem;
  padding: 0;

}
  .duties {
    background-color: LightGrey;
    border-radius: 10%;
    padding: 2.5%;
    margin: auto;
  }

  .skills {
    background-color: LightGrey;
    border-radius: 15px 50px 30px;
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
  }
  .left{
    margin-left: 10%;
  }
  .right{
    margin-right: 10%;
  }

  .languages {
    background-color: LightGrey;
    border-radius: 15px 50px 30px;
    width: 60%;
    margin: auto;
    font-size: 1.2rem;

  }

  .bottom-container {
    text-align: center;
  }

  .btn {
  box-shadow: 0px 2px 9px -2px #a7b5db;
	background:linear-gradient(to bottom, #51b3ae 5%, #5df0f0 100%);
	background-color:#51b3ae;
	border-radius:12px;
	border:1px solid #d7f0f7;
	display:inline-block;
	cursor:pointer;
	color:#fafeff;
	font-family:Arial;
	font-size:12px;
	padding:4px 29px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4471e3;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5df0f0 5%, #51b3ae 100%);
	background-color:#5df0f0;
}
.myButton:active {
	position:relative;
	top:1px;
}
