  body {
    background-color: #8ec6c5;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .greeting {
    padding-top: 100px;
    width: 50%;
    margin: 010px auto;
    text-align: center;
    /*  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
  }


  .hand-written {
    font-family: 'Dancing Script', cursive;
  }

  .anna-nim {
    text-decoration-line: underline;
  }

  .my-pic1 {
    height: 200px;
    width: 200px;
    margin-left: 15%;
    position: absolute;
    right: 70%;
  }

  .my-pic2 {
    height: 200px;
    width: 200px;
    margin-left: 15%;
    position: absolute;
    right: 70%;
  }

  .icon {
    height: 80px;
    width: 80px;
margin: 0;
width: 80px;
  }

  .giph {
    height: 220px;
    width: 170px;
    radius: 80%;
  }

  .contacts {
    height: 130px;
    width: 130px;
    margin: 20px;
    background-color: #ffe196;
    position: fixed;
    left: 85%;
    /*
/  bottom: 850px;
*/
    text-align: center;
  }

  .badge {
    height: 40px;
    width: 40px;
  }

  .circular {
    border-radius: 100%;
  }

  .center {
    margin: auto;
    width: 50%;
  }

  .top-cloud {
    position: relative;
    left: 0;
  }

  .bottom-cloud1 {
    text-align: center;
    position: relative;
    right: 20px;
    top: 20px;
  }

  .bottom-cloud1 {
    text-align: center;
  }

  .mountain {
    display: inline;
  }

  .web-design-pic {
    height: 120px;
    width: 120px;
    position: absolute;
    right: 68%;
    top: 30%;
  }


  hr {
    border-style: none;
    border-top: dotted;
    border-color: #72b5b7;
    border-width: 5px;
    width: 30%;
  }

  h1 {
    color: #30475e;
    text-align: center;
    margin-top: 0px;
  }

  h2 {
    color: #3b6978;
  }

  h3 {
    color: #3b6978;
    text-align: center;
  }

  h4 {
    color: #40e0d0;
  }

  h5 {
    color: #40e0d0;
  }

  h6 {
    color: #40e0d0;
  }

  table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
  }


    .introduction {

      margin: 0 auto;
      text-align: center;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      padding: 0px;
      background-color: LightGrey;
    }
.education{
  background-color: white;
      background-color: LightGrey;
}

.work {
        background-color: LightGrey;
}

.skills {
      background-color: LightGrey;
}

.languages{
        background-color: LightGrey;
}

.bottom-container {
text-align: center;
object-position: center;
}
