  body {
    background-color: #8ec6c5;
    margin: 0 auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  .greeting {
    padding-top: 100px;
    width: 50%;
    margin: 010px auto;
    text-align: center;


    /*  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
  }

  .introduction {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 20px;
  }

  .hand-written {
    font-family: 'Dancing Script', cursive;
  }

  .anna-nim {
    text-decoration-line: underline;
  }

  .my-pic {
    height: 200px;
    width: 200px;

      margin-left: 15%;
    position: absolute;
    right: 70%;
  }

  .giph {
    height: 220px;
    width: 170px;
    radius: 80%;
    text-align: center;
    align-items: center;
  }

  .contacts {
    height: 130px;
    width: 130px;
    margin: 20px;
    background-color: #ffe196;
    position: absolute;
    left: 70%;
    /*
/  bottom: 850px;
*/
    text-align: center;
  }

  .badge {
    height: 40px;
    width: 40px;
  }

  .circular {
    border-radius: 100%;
  }

  .center {
    margin: auto;
    width: 50%;
  }

  .first-cloud {
    position: relative;
    left: 0;
  }

  .second-cloud {
    position: absolute;
  }

  .mountain {
    display: inline;
  }

  .web-design-pic {
    height: 120px;
    width: 120px;
    position: absolute;
    right: 68%;
    top: 30%;
  }

  .bottom-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
  }

  hr {
    border-style: none;
    border-top: dotted;
    border-color: #72b5b7;
    border-width: 5px;
    width: 30%;
  }

  h1 {
    color: #30475e;
      text-align: center;
    margin-top: 0px;
  }

  h2 {
    color: #3b6978;
  }

  h3 {
    color: #3b6978;
    text-align: center;
  }

  h4 {
    color: #40e0d0;
  }

  h5 {
    color: #40e0d0;
  }

  h6 {
    color: #40e0d0;
  }

  table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #333333;

  }
